certifi==2020.12.5
mouse==0.7.1
MouseInfo==0.1.3
numpy==1.20.1
opencv-python==4.5.1.48
Pillow==8.1.0
PyAutoGUI==0.9.52
PyDirectInput==1.0.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.3
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
screeninfo==0.6.7
six==1.15.0
wincertstore==0.2
